/* fonts */

@font-face {
    font-family: 'Ace Attorney';
    src: url(fonts/Ace-Attorney.ttf);
}


/* slate styles */

.container {
    box-shadow: 9px 7px 20px 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin: 30px 0;
}

.unitDiv {
    padding: 0;
    margin: 0;
}


/* -------------------------------- */

body {
    display: flex;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 70%; */
    flex: 3;
}

main h1 {
    font-family: 'Ace Attorney';
    font-size: 100px;
}


/* options pane styles */

aside {
    flex: 1;
    background-color: thistle;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-set {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: flex-end;
    /* padding-right: 10%; */
}

.input-set p,
.input-set label {
    /* flex: 3; */
    text-align: right;
    font-size: 30px;
    font-family: sans-serif;
    padding: 10px 20px;
}

.input-set p {
    margin: 0;
}

.options {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}


/* custom checkbox */

.input-set input {
    /* flex: 1; */
    height: 26.656px;
    width: 26.656px;
    opacity: 0;
    position: absolute;
}

.input-set .custom-check {
    height: 26.656px;
    width: 26.656px;
    background-color: white;
    border-radius: .15em;
}

.input-set input:checked~.custom-check {
    background-color: black;
}

button.clear-slate {
    border: black 2px solid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 9px 7px 20px 5px;
    color: black;
    font-family: sans-serif;
    font-size: 25px;
    padding: 10px 5px;
    margin-top: 20px;
}

button.clear-slate:active {
    transform: scale(.8);
}

button.clear-slate:hover {
    background-color: thistle;
}